@import "variables.scss";

td > phd-table > table {
  border: $nested-table-border;
}

.table__cell--clickable {
  cursor: pointer;
  text-align: center !important;
}

.input__icon--clickable {
  cursor: pointer;
}

// ** global phd-tags-input css ** //

.tags-input {
  height: auto !important;
}

.tags-input__tag {
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
  border: none;
}

.tags-input__input {
  border: none;
}
