@import "variables.scss";

td > phd-table > table {
  border: $nested-table-border;
}

.table__cell--clickable {
  cursor: pointer;
  text-align: center !important;
}

.input__icon--clickable {
  cursor: pointer;
}

phd-search-bar {
  padding: 1em;
}
