@import "variables.scss";

td > phd-table > table {
  border: $nested-table-border;
}

.table__cell--clickable {
  cursor: pointer;
  text-align: center !important;
}

.input__icon--clickable {
  cursor: pointer;
}

.field__tag {
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
  border: none;
}

.tagsinput__field {
  height: auto !important;
}

.tag__input {
  border: none;
}
